.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  
    .icon{
      background: #FFFF;
      padding: 1.5svh;
      border-radius: 100%;
      cursor: pointer;
      

    
    }
    .func_block{
      gap: 2svh;
      display: flex;
      flex-direction: row ;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: auto;
      flex-wrap: nowrap;
      
      .contacts{
  
        background: #FFFF;
        padding: 1.5svh;
       
        border-radius: 4svh;
        text-wrap: nowrap;
  
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        cursor: pointer;
  
        
      }
    
    }
  
    .panel{
  
    }
  
  }