.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .icon{
      background: #FFFF;
      padding: 15px;
      border-radius: 60px;
      cursor: pointer;
    }
    .func_block{
      gap: 1.39svw;
      display: flex;
      
      .contacts{
        padding: 15px;
        width: 276px;
        text-align: center;
        color:#0F2450;
        background: #FFFF;
        border-radius: 60px;
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
      }
      .contacts-us-icon{
        display: none;
        width: 24px;
        height: 24px;
      }
    
    }
  
  }
  @media (max-width: 550px) {
    .header .func_block .contacts {
      display: none;
    }
    .header .func_block .contacts-us-icon{
      display: block;
      
    }
  }