.container{
  height:100svh ;
  padding: 1.5625% 4.69% 1.5625%;
  background: #F5F5F5;
  background: #4e4e4e;
  display: flex;
  flex-direction: column;
  gap:5.56svh;
 
}


.panel{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1750px) {
  .panel{
    flex-direction: column;
    gap: 5%;
    height: 61% !important;
  }
}

@media (max-width: 1600px){
  .container{
    padding: 27.34px 30px 27.34px;
  }
}
