.lvl-button {
    
    background: #FFFFFF;
    color: #717171;
     border: #F5F5F5 solid 1px;
    border-radius: 4svh;
    padding: 1svh 3svh;

    
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;

    box-sizing: border-box;
   


    cursor: pointer;
    transition: background-color 0.3s;
    transition: color 0.3s;

    &:hover {
        background: #0F2450;
        color: #F5F5F5;
        
    }
    &.active{
        background: #0F2450;
        color: #F5F5F5;
    }
}


