.panel_part {
    height: 100%;
    width: 49%;

    .fake_area {
        background: #FFFF;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        border-radius: 4svh;
    }

    .line {
        border-top: 2px solid #F5F5F5;
    }

    .basic-text {
        color: rgba(113, 113, 113, 1);
        padding: 0 5%;
        height: 50%;
        font-family: Inter;
        font-size: 64px;
        font-weight: 500;
        line-height: 60.51px;
        letter-spacing: -0.04em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        box-sizing: border-box;
        padding-top: 2%;
    }

    .read-only {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: self-start;
    }

    .read-container {
        height: 100%;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-around;
    }
}

.buttons_block {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;

    &.shake {
        animation: shake 0.7s;
    }
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
    80% { transform: translateX(5px); } 
    100% { transform: translateX(0); }
}

@media (max-width: 1024px) {
    .panel_part .basic-text { 
      font-size: 46px;
      height: 30%;
      line-height: normal;

    }
    .panel_part  .read-only {
      height: 60% !important;
  }

    .buttons_block {
        flex-wrap: wrap;
        justify-content: center;
    }

    .buttons_block > button {
        flex: 0 0 30%;
        margin: 5px;
    }
}
@media (max-width: 768px) {
  .panel_part .basic-text { 
    font-size: 30px;
    height: 30%;
  }
  .buttons_block > button {
    flex: 0 0 25%;
    margin: 5px;
}

}
