@font-face{
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@keyframes pulse {
  0% {
  transform: scale(.97);
  box-shadow: 0 0 #ffffff80;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #fff0;
  }
  100% {
    transform: scale(.97);
    box-shadow: 0 0 #ffffff80;
  }
        
}

.text{
  font-family: Inter;
}

.button{
  width: 273px;
  height: 60px;
  background-color: white;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover{
  background-color: rgb(228, 228, 228);
}

.main-container{
  background-image: url(../img/background.png);
  background-size: cover;
  border-radius: 60px;
  margin: 30px 30px 30px 30px;
  height: calc(100svh - 60px);  
}

.main-elements-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 70px 90px 90px 90px ;
  @media (max-width: 760px) {
    padding: 30px 50px 50px 50px;
  };

  @media (max-width: 440px) {
    padding: 25px 25px 25px 25px;
  };
}

.upper-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box{
  background-color: white;
  border-radius: 60px;
  width: 114px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us-button{
  @media (max-width: 680px) {
    width: 114px;
  };
}

.contact-us-icon{
  width: 44px;
  @media (min-width: 680px) {
    display: none;
  };
}

.contact-us-text{
  font-size: 20px;
  font-family: Inter;
  @media (max-width: 680px) {
    display: none;
  };
}

.header-info-container{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding-top:  calc(100svh - 677px);
  
  @media (max-width: 1300px) {
    align-items: center;
    padding-top:  calc(100svh - 820px);
  };


  @media (max-width: 820px) {
    align-items: center;
    padding-top:  calc(100svh - 550px);
  };
}

.main-text{
  margin: 0px 0px 0px 0px;
  font-size: 120px;
  color: white;
  font-family: Inter;

  @media (max-width: 830px) {
    font-size: 60px;
  };
  
  @media (max-width: 440px) {
    font-size: 45px;
  };
}

.info-text{
  margin: 20px 0px 70px 0px;
  font-size: 30px;
  color: #f5f5f5;
  max-width: 735px;
  font-family: Inter;

  @media (max-width: 830px) {
    font-size: 18px;
  };
}

.start-button{
  @media (max-width: 440px) {
    width: 260px;
    height: 55px;
  };
  animation: pulse 2s infinite;
}

.start-button-text{
  font-size: 20px;
  color: #0F2450;
  
}