@keyframes pulse {
  0% {
  transform: scale(.97);
  box-shadow: 0 0 #ffffff80;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #fff0;
  }

  100% {
    transform: scale(.97);
    box-shadow: 0 0 #ffffff80;
  }
        
}

.button{
  width: 273px;
  height: 60px;
  background-color: white;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text{
  font-size: 20px;
  color: #0F2450;
}

.button:hover{
  background: #0F2450;
  cursor: pointer;
}

.button:active{
  background-color: #F5F5F5;
}

.button-text:hover{
  color: #F5F5F5;
  cursor: pointer;
}

.button-text:active {
  color: #0F2450;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.main-container{
  height: calc(100svh - 60px);
  margin: 30px;
}

.background{
  box-sizing: border-box;
  height: 100%;
  border-radius: 60px;
  background-image: url(../../assets/img/background.jpg);
  background-size: cover;
}

.elements-container{
  padding: 40px 60px 40px 60px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 440px) {
    padding: 25px 25px 25px 25px;
  };
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container{
  background-color: white;
  border-radius: 60px;
  width: 114px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us-button{
  @media (max-width: 680px) {
    width: 114px;
  };
}

.contact-us-icon{
  width: 44px;
  @media (min-width: 680px) {
    display: none;
  };
}

.contact-us-text{
  @media (max-width: 680px) {
    display: none;
  };
}

.info-container{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  font-size: calc(6.25svw);
}

.main-info-text{
  margin: 0px;
  font-size: 100%;
  color: white;
}

.sub-info-text{
  margin-top: 20px; 
  margin-bottom: calc(6.481svh);
  max-width: calc(38.28125svw);
  font-size: 25%;
  color: #f5f5f5;
}

.start-button{
  animation: pulse 2s infinite;
}
